
<!-- Created by emalsha on 3/16/17.-->

<!--Import Google Icon Font-->
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="/bower_components/materialize/dist/css/materialize.min.css"  media="screen,projection"/>
<!--Import main css-->
<link type="text/css" rel="stylesheet" href="/public/stylesheets/main.css"  media="screen,projection"/>
<!--Import pace theme-->
<link type="text/css" rel="stylesheet" href="/public/stylesheets/pace-minimal.css"/>
<!--Import x0popup-->
<link type="text/css" rel="stylesheet" href="/bower_components/x0popup/dist/x0popup.min.css"/>

<!--Socket JS-->
<script type="text/javascript" src="/bower_components/socket.io-client/dist/socket.io.js"></script>
<script type="text/javascript" src="/public/javascript/socket.js"></script>

<title><%=title %></title>

<!--Favicon-->
<link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon">
<link rel="icon" href="/public/images/favicon.ico" type="image/x-icon">

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<script>
    var io_connnection = false;
    var call_on_load = [];
</script>