<!--Created by emalsha on 3/16/17.-->

<div>
 <ul id="slide-out" class="side-nav fixed">
  <div class="main_sidemenu" id="main_sidemenu">
   <div class="row">
    <div class="row" ></div>
    <div class="row" style="text-align: center">
     <img src="/public/images/logo_small.png" style="width: 100%;height: auto;max-width: 160px;max-height: 93px;margin: 20px 0;" class="s12">
    </div>
    <div class="col sidemenu_profileimg" style="background-image: url('/public/images/profilepic.jpg')"></div>
    <div class="col s9">
     <div class="row">
      <div class="col s12 sidemenu_name truncate" style="text-transform: capitalize"> <%=currentUser.uname %> </div>
      <div class="col s12 sidemenu_role" style="text-transform: capitalize"><%=currentUser.role %></div>
     </div>
    </div>
   </div>
   <ul>
    <li class="sidemenu_li"><a href="/users/user" class="white-text"><i class="material-icons left" style="color: #ffffff;">dashboard</i>Dashboard</a></li>
    <li class="sidemenu_li"><a href="../users/myfile" class="white-text"><i class="material-icons left" style="color: #ffffff;">description</i>My Files</a></li>
    <li class="sidemenu_li"><a href="../users/publicfile" class="white-text"><i class="material-icons left" style="color: #ffffff;">work</i>Public Files</a></li>
    <li class="sidemenu_li"><a href="../users/management" class="white-text"><i class="material-icons left" style="color: #ffffff;">work</i>User Management </a></li>
    <% if(isAdmin){%>
    <li class="sidemenu_li"><a href="/users/administration" class="white-text"><i class="material-icons left" style="color: #ffffff;">settings_input_composite</i>Administration</a></li>
    <%}%>
    <li class="sidemenu_li"><a href="../users/help" class="white-text"><i class="material-icons left" style="color: #ffffff;">live_help</i>About</a></li>
   </ul>
  </div>
 </ul>
</div>
