<!DOCTYPE html>
<head>

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="stylesheets/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="stylesheets/main.css"  media="screen,projection"/>
    <title><%= title %></title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body class="pg_login_background">



<div class="pg_login_dimmer"></div>

<div class="container">
    <div class="row">
        <div class="col l12" style="padding: 50px"></div>

    </div>
    <div class="row">
        <div class="col m2 l3"></div>
        <div class="col m8 l6">
            <div class="card grey darken-4">
                <div class="card-content white-text waves-effect">
                    <div class="col s12 m4">
                        <div style="padding: 10px;"></div>
                        <div class="row">
                            <img src="images/logo_small.png" style="width: 100%;height: auto;max-width: 160px;max-height: 93px;" class="s12">
                        </div>
                    </div>
                    <div class="col s12 m8">
                        <p>Bassa solves the problem of wasting internet bandwidth by queuing a download if it is larger than a given threshold value in high traffic and when the traffic is low, it completes the download of the files. After the files are downloaded, the users can get their files from the local servers which do not require external internet bandwidth.</p>
                    </div>
                </div>
                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width tabs-transparent">
                        <li class="tab"><a class="active" href="#test2"><span class="pg_login_tabtitle">Login</span></a></li>
                        <li class="tab"><a href="#test3"><span class="pg_login_tabtitle">Register</span></a></li>
                        <div class="indicator red darken-4" style="right: 165.5px; left: 165.5px;height: 4px;"></div></ul>
                </div>
                <div class="card-content white">
                    <div id="test2" class="active" style="display: block;">
                        <!--login-->
                        <div class="alert-error">
                            <p>
                                <b>Invalid Username Password Combination</b><br>
                                The Username and password you provided does not match
                            </p>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 grey-text darken-4">
                                <input id="username" type="text" class="validate">
                                <label for="username" class="grey-text darken-4">Username</label>
                            </div>
                            <div class="input-field col s12 grey-text darken-4">
                                <input id="password" type="password" class="validate">
                                <label for="password" class="grey-text darken-4" >Password</label>
                            </div>
                            <div class="col s6">
                                <input type="checkbox" class="filled-in checkbox-blue" id="filled-in-box" checked="checked" />
                                <label for="filled-in-box">Keep me logged in</label>
                            </div>

                            <div class="col s6 right-align">
                                <button class="btn waves-effect grey darken-4" type="submit" name="action">Login
                                    <i class="material-icons right">send</i>
                                </button>

                            </div>
                            <div class="col s12">
                                <a href="#" class="red-text">Forgot Password ?</a>
                            </div>
                        </div>
                    </div>
                    <div id="test3" style="display: none;">
                        <!--register-->
                        <div class="row">
                            <div class="input-field col s12 green-text darken-4">
                                <input id="fname" type="text" class="validate">
                                <label for="fname" class="green-text darken-4">Email Address</label>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="s12 center-align white-text"> (C) 2014-2017 Allahuakbar, All rights reserved.</div>

        </div>
        <div class="col m2 l3"></div>
    </div>
</div>
<div>
    <!--help and support-->
    <div class="fixed-action-btn horizontal click-to-toggle">
        <a class="btn-floating btn-large blue tooltipped" data-position="top" data-delay="50" data-tooltip="Administration Support">
            <i class="material-icons">live_help</i>
        </a>
        <ul>
            <li><a href="#contactmodal" onclick="$('#contactmodal').modal({dismissible: false})" class="btn-floating green tooltipped" data-position="top" data-delay="50" data-tooltip="Contact Administrator"><i class="material-icons">call</i></a></li>
            <li><a href="#issuemodal" onclick="$('#issuemodal').modal({dismissible: false})" class="btn-floating red darken-1 tooltipped" data-position="top" data-delay="50" data-tooltip="Report and Issue"><i class="material-icons">announcement</i></a></li>
        </ul>
    </div>


    <!-- Modal Structure -->
    <div id="contactmodal" class="modal" style="max-width: 600px;">
        <div class="modal-content">
            <h4>Contact Administrator</h4>
            <p>You can contact the following system administrators for help</p>
            <table>
                <thead>
                <tr>
                    <th data-field="id">Name</th>
                    <th data-field="name">Email</th>
                    <th data-field="price">Phone Number</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>Sulochana Kodituwakku</td>
                    <td>sulochana.456@live.com</td>
                    <td>071-589-5565</td>
                </tr>
                <tr>
                    <td>Alan</td>
                    <td>Jellybean</td>
                    <td>$3.76</td>
                </tr>
                <tr>
                    <td>Jonathan</td>
                    <td>Lollipop</td>
                    <td>$7.00</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <a href="#!" class="grey darken-4 white-text modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>

    <div id="issuemodal" class="modal" style="max-width: 800px;">
        <div class="modal-content">
            <h4>Report a problem</h4>
            <p>You can contact the following system administrators for help</p>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Enter your email address" id="first_name" type="text" class="validate">
                    <label for="first_name">Contact Email Address</label>
                </div>
                <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea" placeholder="Briefly explain what happened and what steps we can take to reproduce the problem ..."></textarea>
                    <label for="textarea1">Explain the problem</label>
                </div>
                <div class="col s12">
                    <p>Include a screenshot with your report to make it easy for the developers to understand the problem</p>
                </div>
                <div class="file-field input-field col s12">

                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                    <div class="btn grey darken-4">
                        <span>Attach a Screenshot</span>
                        <input type="file">
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <a href="#!" class="grey darken-4 white-text modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
        </div>
    </div>

</div>



<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="javascripts/materialize.js"></script>

</body>
</html>