<!-- Created by emalsha on 4/16/17. -->

<li>
    <div class="collapsible-header">
        <div class="col s4 truncate">Ubuntu 14.02 ISO</div>
        <div class="col s2 truncate">Sulochana Kodituwakku</div>
        <div class="col s2 truncate">Sunday 2017/03/05 11:26:36 PM</div>
        <div class="col s4 truncate">
            <div class="chip">
                Ubuntu
            </div>
            <div class="chip">
                FOSS
            </div>
            <div class="chip">
                Linux
            </div>
            <div class="chip">
                OS
            </div>
            <div class="chip">
                This is a long Tag
            </div>
        </div>
    </div>
    <div class="collapsible-body">
        <div class="row">
            <div class="col s8">
                <div class="col s12">
                    <span class="subsection_title_sub no_padding">Download Details</span>
                </div>
                <div class="col s12 l2 truncate contentbox_detail_field">Download Link
                </div>
                <div class="col s12 l10 truncate  contentbox_detail_value">
                    https://www.google.lk/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=materialize+css+input+color&*
                </div>

                <div class="col s12 l2 truncate contentbox_detail_field">Reference
                    Link
                </div>
                <div class="col s12 l10 truncate  contentbox_detail_value">
                    https://www.google.lk/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=materialize+css+input+color&*
                </div>

                <div class="col s12 l2 truncate contentbox_detail_field">File Size</div>
                <div class="col s12 l10 truncate  contentbox_detail_value">2.35 GB</div>

                <div class="col s12 l2 truncate contentbox_detail_field">ETA</div>
                <div class="col s12 l10 truncate  contentbox_detail_value">2h 33mins
                </div>

                <div class="col s12 l2 truncate  contentbox_detail_field">Requested
                    Date
                </div>
                <div class="col s12 l10 truncate  contentbox_detail_value">Sunday
                    2017/03/05 11:26:36 PM
                </div>

                <div class="col s12 l2 truncate contentbox_detail_field">Description
                </div>
                <div class="col s12 l10 truncate  contentbox_detail_value">GG WP</div>


                <div class="col s12 l2 truncate contentbox_detail_field">Description
                </div>
                <div class="col s12 l10 truncate  contentbox_detail_value">GG WP</div>

                <div class="col s12 l2 truncate contentbox_detail_field">Description
                </div>
                <div class="col s12 l10 truncate  contentbox_detail_value">GG WP</div>

            </div>
            <div class="col s4">
                <span class="subsection_title_sub no_padding">Respond to Request</span>
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header green"><i class="material-icons">done</i>Accept
                            Request
                        </div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class="col s12 truncate contentbox_detail_field">
                                    Tags
                                </div>
                                <div class="col s12 truncate  contentbox_detail_value">
                                    <div class="chips-initial" data-index="0"
                                         data-initialized="true">
                                        <input id="4341c92a-c015-b6bf-22ec-260bed9d54e5"
                                               class="input" placeholder=""
                                               autocomplete="off">
                                    </div>
                                </div>

                                <div class="col s12 truncate contentbox_detail_field">
                                    Priority
                                </div>
                                <div class="col s12 truncate  contentbox_detail_value">
                                    <div class="row">
                                        <div class="col s12">
                                            <select class="display">
                                                <option value="volvo">Priority 1
                                                </option>
                                                <option value="saab">Priority 2</option>
                                                <option value="opel">Priority 3</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>

                                <div class="col s12 truncate contentbox_detail_field">
                                    Administrator Notes
                                </div>
                                <div class="col s12 truncate  contentbox_detail_value">
                                    <div class="col s12">
                                        <input placeholder="Notes ..." id="first_name"
                                               type="text" class="validate">
                                    </div>
                                </div>

                                <div class="col s12 truncate contentbox_detail_field">
                                    Availability
                                </div>
                                <div class="col s12 truncate  contentbox_detail_value">
                                    <div class="row" style="padding: 5px">
                                        <div class="col s12">
                                            <div class="switch">
                                                <label>
                                                    Private
                                                    <input type="checkbox">
                                                    <span class="lever"></span>
                                                    Public
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a class="waves-effect waves-light btn green">Approve
                                    Request</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header red"><i class="material-icons">not_interested</i>Reject
                            Request
                        </div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class="col s12 truncate contentbox_detail_field">
                                    Reason to Reject
                                </div>
                                <div class="col s12 truncate  contentbox_detail_value">
                                    <div class="row">
                                        <div class="col s12">
                                            <select class="display">
                                                <option value="volvo">Reason 1</option>
                                                <option value="saab">Reason 2</option>
                                                <option value="opel">Reason 3</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>

                                <div class="col s12 truncate contentbox_detail_field">
                                    Administrator Notes
                                </div>
                                <div class="col s12 truncate  contentbox_detail_value">
                                    <div class="col s12">
                                        <input placeholder="Notes ..." id="sadsad"
                                               type="text" class="validate">
                                    </div>
                                </div>
                                <a class="waves-effect waves-light btn red">Reject
                                    Request</a>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</li>
